<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>MISC1</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
	</head>
	<body>
		<div class = "navbar">
  			<nav>
                <ul>
                   	<li><a href= {% if var == 'PROFILE' %} {% block content3 %} "{{url_for('home')}}" {% endblock content3 %} {% else %} {% block content4 	%} "{{url_for('home')}}" {% endblock content4 %} {% endif %}>HOME</a></li>
					<li><a href="{{url_for('product')}}">PRODUCTS</a></li>
                    <li><a href="{{url_for('dashboard')}}">CARTS</a></li>
                    <li><a href= {% if var == 'PROFILE' %} {% block content %} "{{url_for('profile')}}" {% endblock content %} {% else %} {% block content2 %} '{{url_for('login')}}' { {% endblock content2 %} {% endif %} > {{var}} </a></li>
                </ul>
            </nav>
        </div> 
        <div class="container">
        	<div class="container_product">
        		<div class = "image-div">
        			<img src = "{{url_for('static', filename = 'images/per1.jpg')}}">
        			<div class="section1">
						<form action="/cart", method="POST">
        					<div class="header1">MISC1</div>
        					<div class="header2">$34.99</div>
        					<input type = 'submit' class="buy" value="Buy Now" name = 'Buy17'>
							<input type = 'submit' class = 'addcart' name = 'addcart17' value="Add to Cart">
						</form>
					</div>
        			<div class="section2">
        				<div class = "line"></div>
        				<p class='about'>
        					<h3>About This Item</h3>
        					<br>
        					Redragon GS520 RGB Computer Gaming Speaker 2.0 3W PC Gaming Speaker, 2.0 Channel Stereo Desktop Computer Speaker with RGB Backlight. - Compact Design - Space saving 2.0 PC speakers on any tight desktop. 2.0 Channel Stereo Core - Equipped with advanced sound drive unit with full range 2.0 channel stereo - Plug & Play for Broad Compatibility - USB powered with 3.5mm audio and mic cables allows this rockstar to party on wide type of stages for PC, TV, Laptop and Smartphone. Get it all connected well on your device and let the party begin. - Indispensable RGB LED - Our Redragon themed RGB LED backlit.
        				</p>
        			</div>
        		</div>
        	</div>
        </div>
	</body>
</html>