<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>LAPTOP3</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
	</head>
	<body>
		<div class = "navbar">
  			<nav>
                <ul>
                   	<li><a href= {% if var == 'PROFILE' %} {% block content3 %} "{{url_for('home')}}" {% endblock content3 %} {% else %} {% block content4 	%} "{{url_for('home')}}" {% endblock content4 %} {% endif %}>HOME</a></li>
					<li><a href="{{url_for('product')}}">PRODUCTS</a></li>
                    <li><a href="{{url_for('dashboard')}}">CARTS</a></li>
                    <li><a href= {% if var == 'PROFILE' %} {% block content %} "{{url_for('profile')}}" {% endblock content %} {% else %} {% block content2 %} '{{url_for('login')}}' { {% endblock content2 %} {% endif %} > {{var}} </a></li>
                </ul>
            </nav>
        </div> 
        <div class="container">
        	<div class="container_product">
        		<div class = "image-div">
        			<img src = "{{url_for('static', filename = 'images/product3.jpg')}}">
        			<div class="section1">
						<form action="/cart", method="POST">
        					<div class="header1">Laptop3</div>
        					<div class="header2">$999.99</div>
        					<input type = 'submit' class="buy" value="Buy Now" name = 'Buy3'>
							<input type = 'submit' class = 'addcart' name = 'addcart3' value="Add to Cart">
						</form>
					</div>
        			<div class="section2">
        				<div class = "line"></div>
        				<p class='about'>
        					<h3>About This Item</h3>
        					<br>
        					<ul>
                                <li> Intel Core i7 12th Gen 1255U 1.7GHz Processor</li><li> NVIDIA GeForce MX570 2GB GDDR6</li><li> 16GB DDR4-3200 RAM</li><li> 512GB Solid State Drive</li><li> Microsoft Windows 11 Home</li><li> SD Card Reader</li><li> 2x2 Intel Wi-Fi 6E AX211+Bluetooth 5.2</li><li> 16.0" FHD+ WVA Touch Display with ComfortView <br> Plus Support</li></ul>
        				</p>
        			</div>
        		</div>
        	</div>
        </div>
	</body>
</html>