<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>MISC2</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
	</head>
	<body>
		<div class = "navbar">
  			<nav>
                <ul>
                   	<li><a href= {% if var == 'PROFILE' %} {% block content3 %} "{{url_for('home')}}" {% endblock content3 %} {% else %} {% block content4 	%} "{{url_for('home')}}" {% endblock content4 %} {% endif %}>HOME</a></li>
					<li><a href="{{url_for('product')}}">PRODUCTS</a></li>
                    <li><a href="{{url_for('dashboard')}}">CARTS</a></li>
                    <li><a href= {% if var == 'PROFILE' %} {% block content %} "{{url_for('profile')}}" {% endblock content %} {% else %} {% block content2 %} '{{url_for('login')}}' { {% endblock content2 %} {% endif %} > {{var}} </a></li>
                </ul>
            </nav>
        </div> 
        <div class="container">
        	<div class="container_product">
        		<div class = "image-div">
        			<img src = "{{url_for('static', filename = 'images/per2.jpg')}}">
        			<div class="section1">
						<form action="/cart", method="POST">
        					<div class="header1">MISC2</div>
        					<div class="header2">$39.99</div>
        					<input type = 'submit' class="buy" value="Buy Now" name = 'Buy18'>
							<input type = 'submit' class = 'addcart' name = 'addcart18' value="Add to Cart">
						</form>
					</div>
        			<div class="section2">
        				<div class = "line"></div>
        				<p class='about'>
        					<h3>About This Item</h3>
        					<br>
        					<ul>
                                With convenient controls and easy setup, Logitech Z130 2.0 Speaker System makes getting rich stereo sound simple. Just connect the speakers to your laptop with a standard 3.5 mm plug and youre ready to go. These speakers have the power to take your listening experience to the next level.
        				</p>
        			</div>
        		</div>
        	</div>
        </div>
	</body>
</html>