<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>MISC5</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
	</head>
	<body>
		<div class = "navbar">
  			<nav>
                <ul>
                   	<li><a href= {% if var == 'PROFILE' %} {% block content3 %} "{{url_for('home')}}" {% endblock content3 %} {% else %} {% block content4 	%} "{{url_for('home')}}" {% endblock content4 %} {% endif %}>HOME</a></li>
					<li><a href="{{url_for('product')}}">PRODUCTS</a></li>
                    <li><a href="{{url_for('dashboard')}}">CARTS</a></li>
                    <li><a href= {% if var == 'PROFILE' %} {% block content %} "{{url_for('profile')}}" {% endblock content %} {% else %} {% block content2 %} '{{url_for('login')}}' { {% endblock content2 %} {% endif %} > {{var}} </a></li>
                </ul>
            </nav>
        </div> 
        <div class="container">
        	<div class="container_product">
        		<div class = "image-div">
        			<img src = "{{url_for('static', filename = 'images/per5.jpg')}}">
				</div>
        			<div class="section1">
						<form action="/cart", method="POST">
        					<div class="header1">MISC5</div>
        					<div class="header2">$349.99</div>
        					<input type = 'submit' class="buy" value="Buy Now" name = 'Buy21'>
							<input type = 'submit' class = 'addcart' name = 'addcart21' value="Add to Cart">
						</form>
					</div>
        			<div class="section2">
        				<div class = "line"></div>
        				<div class='about'>
        					<h3>About This Item</h3>
        					<br>
        					<ul>
        						<li>Built-in Microphone</li>
        						<li>Up to 30 hours Listening Time</li>
        					</ul>
        					<br>
        					No matter where you go, the black Sony WH-1000XM4 Wireless Noise-Canceling Over-Ear Headphones deliver pristine sound quality while automatically adjusting ambient sound according to your activity and registered locations, leaving your hands and mind free from the hassle of changing settings just to hear what you want to hear. Plus, the headphones detect when you're wearing them and start and stop your audio for you.
        				</div>
        			</div>
        		</div>
        </div>
	</body>
</html>