<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>MISC7</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
	</head>
	<body>
		<div class = "navbar">
  			<nav>
                <ul>
                   	<li><a href= {% if var == 'PROFILE' %} {% block content3 %} "{{url_for('home')}}" {% endblock content3 %} {% else %} {% block content4 	%} "{{url_for('home')}}" {% endblock content4 %} {% endif %}>HOME</a></li>
					<li><a href="{{url_for('product')}}">PRODUCTS</a></li>
                    <li><a href="{{url_for('dashboard')}}">CARTS</a></li>
                    <li><a href= {% if var == 'PROFILE' %} {% block content %} "{{url_for('profile')}}" {% endblock content %} {% else %} {% block content2 %} '{{url_for('login')}}' { {% endblock content2 %} {% endif %} > {{var}} </a></li>
                </ul>
            </nav>
        </div> 
        <div class="container">
        	<div class="container_product">
        		<div class = "image-div">
        			<img src = "{{url_for('static', filename = 'images/per7.jpg')}}">
        			<div class="section1">
						<form action="/cart", method="POST">
        					<div class="header1">MISC7</div>
        					<div class="header2">$99.99</div>
        					<input type = 'submit' class="buy" value="Buy Now" name = 'Buy23'>
							<input type = 'submit' class = 'addcart' name = 'addcart23' value="Add to Cart">
						</form>
					</div>
        			<div class="section2">
        				<div class = "line"></div>
        				<p class='about'>
        					<h3>About This Item</h3>
        					<br>
        					Experience next-level comfort and productivity with the MK850 Performance Wireless Keyboard and Mouse Combo. Hyper-fast scrolling and a full-size keyboard help you get more done at your desk and a cushioned palm rest, curved keyframe and contoured mouse let you power through in comfort. Switch seamlessly between your devices on both the keyboard and mouse
        				</p>
        			</div>
        		</div>
        	</div>
        </div>
	</body>
</html>