<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>MISC4</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
	</head>
	<body>
		<div class = "navbar">
  			<nav>
                <ul>
                   	<li><a href= {% if var == 'PROFILE' %} {% block content3 %} "{{url_for('home')}}" {% endblock content3 %} {% else %} {% block content4 	%} "{{url_for('home')}}" {% endblock content4 %} {% endif %}>HOME</a></li>
					<li><a href="{{url_for('product')}}">PRODUCTS</a></li>
                    <li><a href="{{url_for('dashboard')}}">CARTS</a></li>
                    <li><a href= {% if var == 'PROFILE' %} {% block content %} "{{url_for('profile')}}" {% endblock content %} {% else %} {% block content2 %} '{{url_for('login')}}' { {% endblock content2 %} {% endif %} > {{var}} </a></li>
                </ul>
            </nav>
        </div> 
        <div class="container">
        	<div class="container_product">
        		<div class = "image-div">
        			<img src = "{{url_for('static', filename = 'images/per4.jpg')}}">
        			<div class="section1">
						<form action="/cart", method="POST">
        					<div class="header1">MISC4</div>
        					<div class="header2">$179.99</div>
        					<input type = 'submit' class="buy" value="Buy Now" name = 'Buy20'>
							<input type = 'submit' class = 'addcart' name = 'addcart20' value="Add to Cart">
						</form>
					</div>
        			<div class="section2">
        				<div class = "line"></div>
        				<p class='about'>
        					<h3>About This Item</h3>
        					<br>
        					<ul>
								<li> Passive Noise Cancellation</li>
								<li> Soft Padded Headband</li>
							</ul>
							<br>
							Beyerdynamic DT 770 Pro closed studio headphones provide professional-quality sound for critical listening applications. Whether you're in the control room or on the recording floor, DT 770 Pro headphones are made to deliver accurate sound while providing a very comfortable fit a real necessity for long sessions. You get an impressive 5Hz-35kHz frequency response, while the closed-ear design helps to minimize outside noise and orient the headphones' speakers to your ears correctly. Built to last and perform reliably, DT 770 headphones make a great addition to any studio.
        				</p>
        			</div>
        		</div>
        	</div>
        </div>
	</body>
</html>