<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>MISC3</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
	</head>
	<body>
		<div class = "navbar">
  			<nav>
                <ul>
                   	<li><a href= {% if var == 'PROFILE' %} {% block content3 %} "{{url_for('home')}}" {% endblock content3 %} {% else %} {% block content4 	%} "{{url_for('home')}}" {% endblock content4 %} {% endif %}>HOME</a></li>
					<li><a href="{{url_for('product')}}">PRODUCTS</a></li>
                    <li><a href="{{url_for('dashboard')}}">CARTS</a></li>
                    <li><a href= {% if var == 'PROFILE' %} {% block content %} "{{url_for('profile')}}" {% endblock content %} {% else %} {% block content2 %} '{{url_for('login')}}' { {% endblock content2 %} {% endif %} > {{var}} </a></li>
                </ul>
            </nav>
        </div> 
        <div class="container">
        	<div class="container_product">
        		<div class = "image-div">
        			<img src = "{{url_for('static', filename = 'images/per3.jpg')}}">
				</div>	
        			<div class="section1">
						<form action="/cart", method="POST">
        					<div class="header1">MISC3</div>
        					<div class="header2">$119.99</div>
        					<input type = 'submit' class="buy" value="Buy Now" name = 'Buy19'>
							<input type = 'submit' class = 'addcart' name = 'addcart19' value="Add to Cart">
						</form>
					</div>
        			<div class="section2">
        				<div class = "line"></div>
        				<div class='about'>
        					<h3>About This Item</h3>
        					<br>
        					<ul>
                               80 watts of power joins precise digital signal processing (DSP) to deliver immersive, lifelike sound. Hear the crisp high notes, the powerful mid and low-range, and all the bass you can handle. The wireless control dial and dual-position speakers let you control your sound and style. Adjust bass and volume from across the room. Position speakers horizontally or vertically. Connect via Bluetooth, micro USB, 3.5mm input, or all three - and switch between them. Even from across the room.
						</div>
        			</div>
        		</div>
        </div>
	</body>
</html>