<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>MISC8</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
	</head>
	<body>
		<div class = "navbar">
  			<nav>
                <ul>
                   	<li><a href= {% if var == 'PROFILE' %} {% block content3 %} "{{url_for('home')}}" {% endblock content3 %} {% else %} {% block content4 	%} "{{url_for('home')}}" {% endblock content4 %} {% endif %}>HOME</a></li>
					<li><a href="{{url_for('product')}}">PRODUCTS</a></li>
                    <li><a href="{{url_for('dashboard')}}">CARTS</a></li>
                    <li><a href= {% if var == 'PROFILE' %} {% block content %} "{{url_for('profile')}}" {% endblock content %} {% else %} {% block content2 %} '{{url_for('login')}}' { {% endblock content2 %} {% endif %} > {{var}} </a></li>
                </ul>
            </nav>
        </div> 
        <div class="container">
        	<div class="container_product">
        		<div class = "image-div">
        			<img src = "{{url_for('static', filename = 'images/per8.jpg')}}">
        			<div class="section1">
						<form action="/cart", method="POST">
        					<div class="header1">MISC8</div>
        					<div class="header2">$43.99</div>
        					<input type = 'submit' class="buy" value="Buy Now" name = 'Buy24'>
							<input type = 'submit' class = 'addcart' name = 'addcart24' value="Add to Cart">
						</form>
					</div>
        			<div class="section2">
        				<div class = "line"></div>
        				<p class='about'>
        					<h3>About This Item</h3>
        					<br>
        					<ul>
        						<li>RGB LED Backlit</li>
        						<li>Programmable Mouse</li>
        					</ul>
        					<br>
        					Fantastic for Gamers, the Redragon S101 Wired Gaming Keyboard and Mouse Combo features 7 different RGB Lighting modes & effects, 4 backlight brightness levels. The gaming Keyboard is built to withstand the average liquid spill. The integrated wrist rest gives you the comfort you need for marathon gaming sessions. Ergonomic Redragon RED Backlit Gaming Mouse up to 3200 DPI (user adjustable 800/1600/2400/3200 DPI), 30G acceleration, and Weight Tuning Set. Total 6 Buttons of which 5 are programmable. The High-Precision Sensor delivers Pinpoint Accuracy while the Gaming Grade Micro Switches ensure longevity, greater durability, and extreme responsiveness, giving you an even greater edge over your competition.
        				</p>
        			</div>
        		</div>
        	</div>
        </div>
	</body>
</html>