<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>MISC6</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
	</head>
	<body>
		<div class = "navbar">
  			<nav>
                <ul>
                   	<li><a href= {% if var == 'PROFILE' %} {% block content3 %} "{{url_for('home')}}" {% endblock content3 %} {% else %} {% block content4 	%} "{{url_for('home')}}" {% endblock content4 %} {% endif %}>HOME</a></li>
					<li><a href="{{url_for('product')}}">PRODUCTS</a></li>
                    <li><a href="{{url_for('dashboard')}}">CARTS</a></li>
                    <li><a href= {% if var == 'PROFILE' %} {% block content %} "{{url_for('profile')}}" {% endblock content %} {% else %} {% block content2 %} '{{url_for('login')}}' { {% endblock content2 %} {% endif %} > {{var}} </a></li>
                </ul>
            </nav>
        </div> 
        <div class="container">
        	<div class="container_product">
        		<div class = "image-div">
        			<img src = "{{url_for('static', filename = 'images/per6.jpg')}}">
				</div>
        			<div class="section1">
						<form action="/cart", method="POST">
        					<div class="header1">MISC6</div>
        					<div class="header2">$79.99</div>
        					<input type = 'submit' class="buy" value="Buy Now" name = 'Buy22'>
							<input type = 'submit' class = 'addcart' name = 'addcart22' value="Add to Cart">
						</form>
					</div>
        			<div class="section2">
        				<div class = "line"></div>
        				<div class='about'>
        					<h3>About This Item</h3>
        					<br>
        					The ATH-M20xBT over-ear wireless headphones include all the features you want and the audio quality you demand. Inspired by our #1 selling ATH-M20x wired professional studio headphones and featuring powerful 40 mm drivers for enhanced low-frequency performance, the ATH-M20xBT Bluetooth headphones deliver an incredible listening experience with full-range, high-fidelity audio and enhanced bass.
						</div>
        			</div>
        	</div>
        </div>
	</body>
</html>