* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    position: absolute;
    z-index: 100;
    width: 100%;
    background-color: rgb(64, 139, 224);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.navbar nav ul {
    position: relative;
    margin-left: 1.5%;
    background-color: rgb(64, 139, 224);
    list-style-type: none;
    float: left;
    padding: 2px;
}

.navbar nav ul li {
    position: relative;
    list-style-type: none;
    background-color: rgb(64, 139, 224);;
    float: left;
    margin: 5px;
}

.navbar nav ul li a {
    position: relative;
    display: block;
    text-align: center;
    padding: 16px 13px;
    text-decoration: none;
    color: white;
    background-color: rgb(64, 139, 224);
    transition: 0.5s;
}

.navbar nav ul li a:hover {
    border-radius: 15px;
    background-color: rgb(0, 45, 128);
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #8D8383;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden !important;
}

.container_product {
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.7);
    margin: auto;
    top: 15%;
    width: 80%;
    height: 75%;
    background-color: white;
}

.image-div {
    position: relative;
    top: 9%;
    width: 30%;
    height: 70%;
}

img {
    width: 100%;
    height: 100%;
}

.section1 {
    position: relative;
    top: -50%;
    transform: translateY(10%);
    width: 20%;
    left: 33%;
}

.section2 {
    position: relative;
    margin-left: calc(60%);
    top: -97.5%;
    width: 35%;
}

.header1 {
    position: relative;
    margin-bottom: 20px;
    bottom: 90%;
    font-size: 42px;
    font-family: Arial;
    width: relative;
}

.header2 {
    position: relative;
    margin-bottom: 20px;
    bottom: 70%;
    font-family: Arial;
    font-size: 24px;
    color: orange;
}

.buy {
    position: relative;
    bottom: 40%;
    height: 10%;
    font-size: 15px;
    color: white;
    padding: 15px;
    background-color: rgb(64, 139, 224);
    background-color: rgb(64, 139, 224);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    border: none;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

.buy:hover {
    background-color: rgb(112, 175, 248);;
    background-color: #76A7DF;
    border: none;
}

.addcart {
    position: relative;
    border: none;
    bottom: 60%;
    padding: 15px;
    height: 10%;
    color: white;
    font-size: 15px;
    background-color: rgb(64, 139, 224);;
    background-color: rgb(64, 139, 224);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

.addcart:hover {
    background-color: rgb(112, 175, 248);
}

.image-div .addcart:hover {
    background-color: #76A7DF;
    border-width: 0px;
}

.section2 ul li {
    font-size: 20px;
    margin-bottom: 5px;
    height: 85%;
    max-width: 100%;
}

.section1 button {
    cursor: pointer;
    transition: 0.4s;
}

.section1 button:hover {
    background-color: rgb(112, 175, 248);
}

.image-div .section1 button:hover {
    background-color: #76A7DF;
    border-width: 0px;
}

h3 {
    font-size: 36px;
    text-align: left;
}

@media (min-width: 1366px) and (min-height: 768px) and (max-width: 1600px) and (max-height: 900px){
    .section1 {
        top: -55%;
        transform: translateY(50%);
    }

    .section2 {
        margin-left: 57.5%;
        top: -47.5%;
        transform: translateY(-60%);
    }

    .section2 ul li {
        font-size: 24px;
    }
}

@media (min-width: 1601px) and (min-height: 901px) {
    .section1 {
        top: -52%;
        transform: translateY(50%);
    }

    .section1 .header1 {
        font-size: 56px;
    }

    .section2 ul li, .section2 {
        font-size: 24px;
    }

    .section2 {
        top: -50%;
        transform: translateY(-50%);
    }
}