*{
    margin: 0;
    padding: 0;
}

.navbar {
    position: absolute;
    width: 100%;
    z-index: 100;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: rgb(64, 139, 224);
}

.navbar nav ul {
    position: relative;
    background-color: rgb(64, 139, 224);
    margin-left: 1.5%;
    list-style-type: none;
    float: left;
    padding: 2px;
}

.navbar nav ul li {
    list-style-type: none;
    background-color: rgb(64, 139, 224);
    float: left;
    margin: 5px;
}

.navbar nav ul li a {
    display: block;
    text-align: center;
    padding: 16px 13px;
    text-decoration: none;
    color: white;
    background-color: rgb(64, 139, 224);
    transition: 0.5s;
}

.navbar nav ul li a:hover {
    border-radius: 15px;
    background-color: rgb(0, 45, 128);
}

.header {
    position: absolute;
    top: 30px;
    left: 35%;
    background-color: white;
    text-align: center;
}

.container {
    position: absolute;
    width: 100%;
    height: calc(100% + 15%);
    top: -15%;
    background-color: grey;
}

.subcont {
    position: relative;
    border-radius: 20px;
    top: 60.5%;
    transform: translate(0%, -50%);
    width: 80%;
    margin: auto;
    background-color: white;
}

.table {
    position: relative;
    top: 5%;
    width: 100%;
    height: 20%;
    margin: auto;
    color: black;
    background-color: white;
    border-width: 1px solid black;
}

tr, td {
    text-align: center;
    padding: 15px;
    border: 1px solid black;
    border-collapse: none;
}

.table thead , th {
    background-color: black;
    padding: 15px;
    color: white;
    border:1px solid white;
}

.total_table {
    position: relative;
    margin-top: 2%;
    margin: auto;
    width : 80%;
    padding: 0px;
    background-color: black;
}

.total_table tr th {
    font-size: 20px;
    padding: 15px;
    border-collapse: collapse;
}

.table_div {
    position: relative;
    width: 80%;
    margin: auto;
    height: 260px;
    overflow-y: scroll;
    margin-bottom: 2%;
}

input[type = 'submit'] {
    margin-top: 1%;
    margin-bottom: 0.5%;
    left: 10%;
    position: relative;
    padding: 15px;
    width: 80%;
    background-color: #3366ff;
    color: white;
    font-size: 24px;
    border-width: 0px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.4s;
}

input[type='submit']:hover {
    background-color: rgb(112, 175, 248);
    border: 0px;
}   

.subcont h1 {
    position: relative;
    width: 80%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 46px;
}

input[name = 'clearall'] {
    position: relative;
    margin-top: 0.2%;
    margin-bottom: 1%;
    background-color: rgb(243, 66, 66);
}

input[name = 'clearall']:hover {
    background-color: rgb(248, 126, 126);
}

