* {
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgb(155, 155, 155);
}

.Account_div {
    position: absolute;
    top: 25%;
    margin-left: 37.5%;
    height: 340px;
    width: 350px;
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.Account_div h1 {
    position: relative;
    top: 10px;
    left: 10px;
    text-align: left;
    font-size: 24px;
    font-family: Arial;
}

.Account_div form input[name = 'current']{
    margin-bottom: 10px;
    margin-left: 9.5%;
    width: 77%;
    height: 20px;
    background-color: white;
    border-width: 1px;
    position: relative;
    top: 30px;
    padding: 10px 5px;
}

.Account_div form input[name = 'new'] {
    top: 32px;
    margin-left: 9.5%;
    width: 77%;
    height: 20px;
    background-color: white;
    border-width: 1px;
    position: relative;
    padding: 10px 5px;
}

.Account_div form input[name='submit'] {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    height: 40px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(216, 112, 147);
    border: none;
    border-radius: 10px;
    position: relative;
    top: 40px;
}

.Account_div form input[name = 'logout'] {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    margin-left: 10%;
    width: 80%;
    height: 40px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(216, 112, 147);
    border: none;
    border-radius: 10px;
    position: relative;
    top: 40px;
}

.Account_div form input[type='submit']:hover {
    background-color: rgba(216, 112, 147, 0.6);
    border-width: 20px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.4);
}