* {
	margin: 0px;
	padding: 0px;
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: grey;
}

.subcont {
	position: relative;
	top: 35%;
    margin-left: 37.5%;
    height: 200px;
    width: 350px;
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
    border-radius: 0px;
    border-radius: 20px;
}

p {
	position: relative;
	top: 15%;
	left: 0;
	text-align: center;
}

input[type='text'] {
	position: relative;
	top: 50px;
	height: 40px;
	left: 25%;
	text-align: center;
}

input[type = 'submit'] {
	position: relative;
	top: 65px;
	left: 36%;
	width: 100px;
	height: 40px;
	background-color: rgba(64, 139, 224);    
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	border: none;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.4);
}

input[type = 'submit']:hover {
	background-color: #76A7DF;
	border: none;
}
