<!DOCTYPE html>
<html>
    <head>
        <title>Account Not Registered</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/error.css')}}">
    </head>
    <body>
        <div>
            <h1>{{error_message}}</h1>
            <form action="/error" method="POST">
                <input type="submit" name = 'ac_not_reg' value="OK">
            </form>
        </div>
    </body>
</html>