<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{header1}}</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
	</head>
	<body>
		<div class = "navbar">
  			<nav>
                <ul>
                   	<li><a href= {% if var == 'PROFILE' %} {% block content3 %} "{{url_for('home')}}" {% endblock content3 %} {% else %} {% block content4 	%} "{{url_for('home')}}" {% endblock content4 %} {% endif %}>HOME</a></li>
					<li><a href="{{url_for('product')}}">PRODUCTS</a></li>
                    <li><a href="{{url_for('dashboard')}}">CARTS</a></li>
                    <li><a href= {% if var == 'PROFILE' %} {% block content %} "{{url_for('profile')}}" {% endblock content %} {% else %} {% block content2 %} '{{url_for('login')}}' { {% endblock content2 %} {% endif %} > {{var}} </a></li>
                </ul>
            </nav>
        </div> 
        <div class="container">
        	<div class="container_product">
        		<div class = "image-div">
        			<img src = "{{imgsrc}}">
				</div>
        		<div class="section1">
					<div class="header1">{% with headvar = header1 %} {{headvar}} {% endwith %}</div>
        			<div class="header2">${{header2}}</div>
					<form action="/cart", method="POST">
    					<input type = 'submit' class="buy" value="Buy Now" name = {{Buy}}>
						<input type = 'submit' class = 'addcart' value="Add to Cart" name = {{addcart}}>
					</form>
				</div>
        		<div class="section2">
    				<p class='about'>
        				<h3>About This Item</h3>
        				<br>
        				{{about|safe}}
    				</p>
        		</div>
        	</div>
        </div>
	</body>
	<script>
		const lists = document.querySelectorAll('.aboutlist')
		for (i = 0; i < lists.length; i++) {
			if (lists[i].innerHTML == '') {
				lists[i].style.display = 'none';
			}
		}
	</script>
</html>