<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename = 'css/payment.css')}}">
	<title>Credentials Info.</title>
</head>
<body>
	<div class = 'container'>
		<div class = 'subcont'>
			<form action="/payment" method="POST">
				<div class="billing">
					<h1>Billing Address</h1>
					<br>
					<p>First Name</p>
					<input type="text", name="fname", placeholder="Enter you First Name">
					<br>
					
					<p>Last Name</p>
					<input type="text", name="lname", placeholder="Enter your Last Name">
					<br>
					
					<p>Address</p>
					<input type="text", name = 'Address', placeholder="Enter Address">
					<br>
					
					<p>Phone Number</p>
					<input type="number" name="Phone", placeholder = 'Enter Phone Number' min = 0>
					<br>
					<p>City</p>
					<input type="text", name = 'City', placeholder="Enter City">
					<br>
					
					<p>Zip Code</p>
					<input type="number", name="zip", placeholder="Enter ZipCode" min = 0>
				</div><br>
				<div class="payment">
					<h1>Payment Information</h1>
					<br>
					<p>Name on Card</p>
					<input type="text", name='noc', placeholder="Enter the name on card">
					<br>
					
					<p>Credit Card Number</p>
					<input type="number", name='creditno', placeholder="Enter the Credit Card Number">
					<br>
					
					<p>Exp. Date</p>
					<input type="date" name='expdate' placeholder="YYYY-MM-DD">
					<input type="submit", name='submit', value='Continue to checkout'>
				</div>
			</form>	
		</div>
	</div>
</body>
</html>