<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content="width=device-width, initial-scale = 1">
        <title>Products</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/product.css')}}">
    </head>

    <body>
        <div class = "navbar">
            <nav>
                <ul>
                    <li><a href= "{{url_for('home')}}">HOME</a></li>
                    <li><a href="{{url_for('product')}}">PRODUCTS</a></li>
                    <li><a href="{{url_for('dashboard')}}">CARTS</a></li>
                    <li><a href= {% if var == 'PROFILE' %} 
                        {% block content %} 
                            "{{url_for('profile')}}" 
                        {% endblock content %} 
                    {% else %} 
                        {% block content2 %} 
                            '{{url_for('login')}}' 
                        {% endblock content2 %} 
                    {% endif %} > {{var}} </a></li>
                </ul>
            </nav>
        </div>
        <div class = 'product'>
            <div class = 'laptop'>
                <div class = "product1">
                    <img src="{{url_for('static', filename = 'images/product1.jpg')}}" style="width: 100%">
                    <p class = 'name'> LAPTOP1 </p>
                    <br>
                    <p class = "price"> $2399.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item1')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product2">
                    <img src="{{url_for('static', filename = 'images/product2.jpg')}}" style="width: 100%">
                    <p class = 'name'> LAPTOP2 </p>
                    <br>
                    <p class = "price"> $1399.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item2')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product3">
                    <img src="{{url_for('static', filename = 'images/product3.jpg')}}" style="width: 100%">
                    <p class = 'name'> LAPTOP3 </p>
                    <br>
                    <p class = "price"> $999.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item3')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product4">
                    <img src="{{url_for('static', filename = 'images/product4.jpg')}}" style="width: 100%">
                    <p class = 'name'> LAPTOP4 </p>
                    <br>
                    <p class = "price"> $459.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item4')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product5">
                    <img src="{{url_for('static', filename = 'images/product5.jpg')}}" style="width: 100%">
                    <p class = 'name'> LAPTOP5 </p>
                    <br>
                    <p class = "price"> $3699.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item5')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product6">
                    <img src="{{url_for('static', filename = 'images/product6.jpg')}}" style="width: 100%">
                    <p class = 'name'> LAPTOP6 </p>
                    <br>
                    <p class = "price"> $1299.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item6')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product7">
                    <img src="{{url_for('static', filename = 'images/product7.jpg')}}" style="width: 100%">
                    <p class = 'name'> LAPTOP7 </p>
                    <br>
                    <p class = "price"> $1899.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item7')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product8">
                    <img src="{{url_for('static', filename = 'images/product8.jpg')}}" style="width: 100%">
                    <p class = 'name'> LAPTOP8 </p>
                    <br>
                    <p class = "price"> $2999.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item8')}}"> <button>Add to Cart</button> </a>
                </div>
            </div>
            <div class="cpu">
                <div class="product9">
                    <img src="{{url_for('static', filename = 'images/cpu1.jpg')}}" style="width: 100%">
                    <p class = 'name'> DESKTOP1 </p>
                    <br>
                    <p class = "price"> $1349.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item9')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product10">
                    <img src="{{url_for('static', filename = 'images/cpu2.jpg')}}" style="width: 100%">
                    <p class = 'name'> DESKTOP2 </p>
                    <br>
                    <p class = "price"> $1239.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item10')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product11">
                    <img src="{{url_for('static', filename = 'images/cpu3.jpg')}}" style="width: 100%">
                    <p class = 'name'> DESKTOP3 </p>
                    <br>
                    <p class = "price"> $649.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item11')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product12">
                    <img src="{{url_for('static', filename = 'images/cpu4.jpg')}}" style="width: 100%">
                    <p class = 'name'> DESKTOP4 </p>
                    <br>
                    <p class = "price"> $1799.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item12')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product13">
                    <img src="{{url_for('static', filename = 'images/cpu5.jpg')}}" style="width: 100%">
                    <p class = 'name'> DESKTOP5 </p>
                    <br>
                    <p class = "price"> $199.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item13')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product14">
                    <img src="{{url_for('static', filename = 'images/cpu6.jpg')}}" style="width: 100%">
                    <p class = 'name'> DESKTOP6 </p>
                    <br>
                    <p class = "price"> $899.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item14')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product15">
                    <img src="{{url_for('static', filename = 'images/cpu7.jpg')}}" style= 'width: 100%'>
                    <p class = 'name'> DESKTOP7 </p>
                    <br>
                    <p class = "price"> $249.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item15')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product16">
                    <img src="{{url_for('static', filename = 'images/cpu8.jpg')}}" style="width: 100%">
                    <p class = 'name'> DESKTOP8 </p>
                    <br>
                    <p class = "price"> $619.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item16')}}"> <button>Add to Cart</button> </a>
                </div>
            </div>
            <div class = 'periperals'>
                <div class="product17">
                    <img src="{{url_for('static', filename = 'images/per1.jpg')}}" style="width: 100%">
                    <p class = 'name'> MISC1 </p>
                    <br>
                    <p class = "price"> $34.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item17')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product18">
                    <img src="{{url_for('static', filename = 'images/per2.jpg')}}" style="width: 100%">
                    <p class = 'name'> MISC2 </p>
                    <br>
                    <p class = "price"> $39.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item18')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product19">
                    <img src="{{url_for('static', filename = 'images/per3.jpg')}}" style="width: 100%">
                    <p class = 'name'> MISC3 </p>
                    <br>
                    <p class = "price"> $119.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item19')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product20">
                    <img src="{{url_for('static', filename = 'images/per4.jpg')}}" style="width: 100%">
                    <p class = 'name'> MISC4 </p>
                    <br>
                    <p class = "price"> $179.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item20')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product21">
                    <img src="{{url_for('static', filename = 'images/per5.jpg')}}" style="width: 100%">
                    <p class = 'name'> MISC5 </p>
                    <br>
                    <p class = "price"> $349.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item21')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product22">
                    <img src="{{url_for('static', filename = 'images/per6.jpg')}}" style="width: 100%">
                    <p class = 'name'> MISC6 </p>
                    <br>
                    <p class = "price"> $79.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item22')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product23">
                    <img src="{{url_for('static', filename = 'images/per7.jpg')}}" style="width: 100%">
                    <p class = 'name'> MISC7 </p>
                    <br>
                    <p class = "price"> $99.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item23')}}"> <button>Add to Cart</button> </a>
                </div>
                <div class="product24">
                    <img src="{{url_for('static', filename = 'images/per8.jpg')}}" style="width: 100%">
                    <p class = 'name'> MISC8 </p>
                    <br>
                    <p class = "price"> $43.99 </p>
                    <br>
                    <a href="{{url_for('products', itemname = 'item24')}}"> <button>Add to Cart</button> </a>
                </div>
            </div>
        </div>    
    </body>
</html>